@charset "UTF-8";

/**
 * @author Rosalie Roy 2133488@csfoy.ca
 *
 * TABLE DES MATIERES
 * Normalize
 * Utilitaires
 * Charte typographique
 * Grille
 * Mise en page
 *** polices dans la page
 *** entête
 *** main
 *** formulaire
 *** interactivité
 *** footer
 */


/* Normalize
   ========================================================================== */
@import url(_normalize.css);

/* Utilitaires
   ========================================================================== */
@import url(_utilitaires.css);

/* Charte typographique
   ========================================================================== */
@import url(_typo.css);
/* Grille
   ========================================================================== */
@import url(_grille.css);

/* Mise en page
   ========================================================================== */

/* polices dans la page */

body {
   font-family: "NewsCycle";
}
h1 {
   font-family: "NewsCycle-bold";
}
h2 {
   font-family: "NewsCycle-bold";
}
h3 {
   font-family: "NewsCycle-bold";
}

/* formulaire */

form {
   background-color: rgb(230, 230, 230);
}

